[Unit]
Description=Boot Myriad devices
Before=kubelet.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/myriad

[Install]
WantedBy=multi-user.target
